.fight-screen-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('/src/assets/backgroundFS.png');
  /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-container-fs {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  align-items: center;
  /* Para asegurar que los personajes estén alineados verticalmente */
}

.character-fs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  text-align: center;
  padding: 50px;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.character .energy {
  margin-bottom: 10px;
}



.character-image {
  width: 100%;
  /* Ahora los personajes ocupan el 100% del ancho de su contenedor */
  height: auto;
  margin-bottom: 20px;
  max-width: 400px;
  /* Limita el tamaño máximo de las imágenes */
}

.hearts {
  position: absolute;
  /* Los corazones se posicionan en la parte inferior de la carta */
  bottom: 40px;
  /* Los coloca en la parte inferior del contenedor */
  display: flex;
  justify-content: center;
  /* Centra los corazones en la parte inferior */
  width: 100%;
  /* Asegura que los corazones ocupen todo el ancho de la carta */
  padding-bottom: 5px;
  /* Espacio entre la imagen y los corazones */
}

.heart {
  width: 80px;
  /* Tamaño ajustado de los corazones */
  height: 80px;
  margin: 0 5px;
  /* Espacio entre los corazones */
  object-fit: cover;
}

.heart.filled {
  opacity: 1;
}

.heart.empty {
  opacity: 0.3;
}

/* Estilos para los textos de estadísticas */
.stats-energy {
  display: flex;
  /* Coloca los botones en fila */
  width: 100%;
  /* Haz que ocupe el ancho completo del contenedor */
}

.P1stats {
  width: 80%;
  text-align: left;
  font-size: 24px;
  line-height: 1.5;
  color: white;
  background: linear-gradient(to right, rgba(169, 145, 123, 1), rgba(205, 127, 50, 0));
  border-radius: 10px 0 0 0;
  padding-left: 10px;
}

.P2stats {
  width: 80%;
  text-align: right;
  font-size: 24px;
  line-height: 1.5;
  color: white;
  background: linear-gradient(to left, rgba(169, 145, 123, 1), rgba(205, 127, 50, 0));
  border-radius: 0 10px 0 0;
  /* Redondea solo la esquina superior derecha */
  padding-right: 10px;
}

.P1energy {
  text-align: right;
  width: 20%;
  font-size: 64px;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 10px;
}

.P2energy {
  text-align: left;
  width: 20%;
  font-size: 64px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

.fighting-for-text {
  text-align: center;
  font-size: 20px;
}

.victory-message {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

/* Contenedor para los botones, centrado entre los dos personajes */
.button-container {
  display: flex;
  /* Coloca los botones en fila */
  justify-content: center;
  /* Centra los botones dentro del contenedor */
  gap: 50px;
  /* Espacio entre los botones */
  margin-top: 20px;
  /* Espacio hacia arriba para separar los botones de otros elementos */
}

.button-icon-dice {
  width: 100px;
  /* Ajusta el tamaño del botón */
  height: 100px;
  background-image: url('/src/assets/DiceIcon.png');
  /* Ruta de la imagen PNG */
  background-size: cover;
  /* Asegura que la imagen ocupe todo el botón */
  background-position: center;
  border: none;
  /* Remueve el borde del botón */
  background-color: transparent;
  /* Hace el fondo del botón transparente */
  cursor: pointer;
}

.button-icon-sword {
  width: 100px;
  /* Ajusta el tamaño del botón */
  height: 100px;
  background-image: url('/src/assets/SwordIcon.png');
  /* Ruta de la imagen PNG */
  background-size: cover;
  /* Asegura que la imagen ocupe todo el botón */
  background-position: center;
  border: none;
  /* Remueve el borde del botón */
  background-color: transparent;
  /* Hace el fondo del botón transparente */
  cursor: pointer;
}



.flipped-image {
  transform: scaleX(-1);
  /* Invierte la imagen horizontalmente */
}

.badge-image {
  background-size: cover;
  /* Asegura que la imagen ocupe todo el botón */
  background-position: center;
  height: 250px;
  width: 250px;
}

.back-button {
  position: absolute;
  /* Coloca el botón en una posición absoluta */
  top: 20px;
  /* Ajusta la distancia desde la parte superior */
  right: 20px;
  /* Ajusta la distancia desde la parte derecha */
  font-family: 'Trajan Pro';
  /* Usa la fuente deseada */
  font-size: 16px;
  /* Tamaño de fuente */
  padding: 10px 20px;
  /* Tamaño del botón */
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  /* Fondo semitransparente */
  color: #fff;
  /* Color del texto */
  border: none;
  /* Sin borde */
  border-radius: 5px;
  /* Bordes redondeados */
  z-index: 10;
  /* Asegura que esté por encima de otros elementos */
}

.back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: 'Trajan Pro';
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  border-radius: 5px;
  z-index: 10;
  transition: transform 150ms ease;
  /* Animación suave de escalado */
  transform-origin: center;
  /* Mantiene el centro para el escalado */
}

button:hover {
  transform: scale(1.2);
  /* Escala al 120% */

}