/* src/Home.css */
@font-face {
    font-family: 'Alagard';
    src: url('../fonts/alagard.ttf') format('truetype'); /* Para navegadores más antiguos */
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('../fonts/TrajanPro-Regular.ttf') format('truetype'); /* Para navegadores más antiguos */
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('../fonts/TrajanPro-Bold.otf') format('truetype'); /* Para navegadores más antiguos */
}

@font-face {
    font-family: 'Uncial Antiqua';
    src: 
       url('../fonts/UncialAntiqua-Regular.ttf') format('truetype'); /* Para navegadores más antiguos */
}

.home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .game-title {
    font-family: 'Uncial Antiqua';
  }
  
  .home-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .home-content {
    position: relative;
    color: white;
    text-align: center;
    z-index: 1;
  }
  
  .home-button {
    font-family: 'Trajan Pro';
    font-weight: bold;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
    
  }
  