/* src/Home.css */
@font-face {
  font-family: 'Alagard';
  src: url('../fonts/alagard.ttf') format('truetype');
}

@font-face {
  font-family: 'Trajan Pro';
  src: url('../fonts/TrajanPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Trajan Pro';
  src: url('../fonts/TrajanPro-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Uncial Antiqua';
  src:
    url('../fonts/UncialAntiqua-Regular.ttf') format('truetype');
}

.home-container {
  position: relative;
  background-image: url('/src/assets/mainMenu1.1.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.game-title {
  font-family: 'Uncial Antiqua';
}


.home-content {
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  z-index: 1;
}

.home-button {
  font-family: 'Trajan Pro';
  font-weight: bold;
  padding: 10px 20px;
  font-size: 26px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: none;

}